<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include = "layout :: page">
    <head th:fragment="head">
        <title>Greeting</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body th:fragment="content">
        <h1>Welcome to Pool Referee!</h1>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Nickname</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win Percentage</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
