<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include = "layout :: page">
    <head th:fragment="head">
        <title>Leaderboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body th:fragment="content">
        <h1>Welcome to the Leaderboard!</h1>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Winner</th>
                <th>Loser</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="game : ${games}">
                <tr>
                    <td th:text="${game.getWinner()}"></td>
                    <td th:text="${game.getLoser()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </body>
</html>
