<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include = "layout :: page">
    <head th:fragment="head">
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body th:fragment="content">
        <div class="title text-center">
            <h1>Profile</h1>
        </div>
        <p th:text="${profile.getFirstName()}"></p>
        <p th:text="${profile.getLastName()}"></p>
        <p th:text="${profile.getNickname()}"></p>
        <p th:text="${profile.getGamesPlayed()}"></p>
        <p th:text="${profile.getWins()}"></p>
        <p th:text="${profile.getLosses()}"></p>
        <p th:text="${profile.getPercentage()}"></p>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Loser</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="game : ${profile.getGamesInvolved()}">
                <tr>
                    <td th:text="${game.getDate()}"></td>
                    <td th:text="${game.getWinner()}"></td>
                    <td th:text="${game.getLoser()}"></td>
                    <td class="form-group">
                        <a th:href="@{/profile/delete?id={gameId}(gameId=${game.getGameId()})}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-offset-3 col-sm-6 col-md-6">
                <div class="form-group">
                    <a href="/security-question">
                        <button class="btn btn-primary btn-lg btn-block">Set Seurity Question</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
