<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8"/>
    <title>Enter Nickname</title>
</head>
<body>
<div class="container">
    <p><!-- Just for blank space--></p>
    <div class="jumbotron">
        <div class="title text-center">
            <h1>Enter Nickname</h1>
        </div>
        <form class="form-centre" th:action="@{/reset-password/nickname}" method="post">
            <div class="form-group">
                <form class="form col-md-3 center-block">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-input">
                                <div th:if="${param.error}" class="alert alert-danger">
                                    User does not exist or does not have security question
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-group ">
                                <input name="nickname" type="text" class="form-control input-lg" placeholder="Nickname" required="required"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
</body>
</html>
