<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include = "layout :: page">

    <head th:fragment="head">
        <title>Greeting</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body th:fragment="content">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>


        <p th:text="'Hello, ' + ${name} + '!'" />

    </body>
</html>
