<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8"/>
    <title>Set Password</title>
</head>
<body>
<div class="container">
    <p><!-- Just for blank space--></p>
    <div class="jumbotron">
        <div class="title text-center">
            <h1>Enter A New Password</h1>
        </div>
        <form class="form-centre" th:action="@{/reset-password/login}" th:object="${resetPasswordPasswordViewModel}" method="post">
            <div class="form-group">
                <form class="form col-md-3 center-block">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-input">
                                <div th:if="${param.error}" class="alert alert-danger">
                                    Passwords do not match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-group ">
                                <input name="password" type="password" class="form-control input-lg" placeholder="New Password" required="required" th:field="*{password}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-group ">
                                <input name="confirmPassword" type="password" class="form-control input-lg" placeholder="Confirm New Password" required="required" th:field="*{confirmPassword}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-6 col-md-6">
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Confirm</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
</body>
</html>
